@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #333;
}

main {
    flex: 1 0 auto;
}

/* Navbar */

.brand-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    margin-right: 0.3em;
    vertical-align: middle;
}

.text-icon {
    margin-left: 8px;
    vertical-align: middle;
}

.nav-wrapper {
    padding: 0 2em;
}

.sidenav-overlay {
    z-index: 50 !important;
}

.sidenav {
    z-index: 100 !important;
}

.navbar a{
    color: #EEEEEE;
    font-family: "Raleway", sans-serif;
}

.navbar li a {
    font-size: 18px;
}

.navbar a:hover {
    color: #FF5722;
    text-decoration: none;
}

.brand-logo {
    font-weight: 200;
    align-items: center;
}

.brand-icon {
    margin-bottom: 5px;
}


/* Landing */

.welcome-msg {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #CCCCCC;
    margin: 0.4rem;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    user-select: none;
    margin: 0 40px;
}

.welcome {
    height: 100vh;
    background: #333 url("../img/bg-1.jpeg") no-repeat center center / cover;
}


.msg h1, h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 0.4rem;
}

.msg h1 {
    font-size: 3.5rem;
    color: #EEE;
}

.msg h2 {
    font-size: 2rem;
    color: #CCC;
}

.msg .txt-type {
    font-family: "Raleway", sans-serif;
    color: #FF5722;
}

/* Cursor */
.msg .txt-type::after {
    color: #FF5722;
    content: "_";
    animation: animate-cursor 1s infinite;
}

@keyframes animate-cursor {
    75% {
        content: "";
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 90vh;
}


/* About Us */

#about, #team {
    background: url("../img/bg-2.jpg") center top no-repeat fixed;
    background: cover;
    padding: 60px 0 40px 0;
    position: relative;
}

#about::before, #team::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(20, 20, 20, 0.92);
}

#about .container, #repositories .container{
    position: relative;
    z-index: 10;
}

.box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #333;
    box-shadow: 0 0px 10px 0px rgba(33, 33, 33, 0.3);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    color: #FF5722;
}

.description {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    color: #EEEEEE;
    text-align: center;
}

.icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#about .icon i {
    font-size: 36px;
    line-height: 1;
}
 
.section-header .title {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    color: #EEEEEE;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header .title::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #CCCCCC;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #FF5722;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    padding-bottom: 30px;
    color: #DDDDDD;
}

.section-bg {
    background: #212121;
}

/* Repositories */

#repositories {
    padding: 60px 0;
}

#repositories .box {
    min-height: 280px;
}

#repositories .icon {
    width: 100px;
    height: 100px;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 30px;
}

#repositories .title a {
    color: #FF5722;
    text-decoration: none;
}

#repositories .title a:hover {
    color: #FF5722;
    text-decoration: none;
}

.repo-container {
    overflow: hidden;
    max-height: 350px;
    transition: max-height 0.3s;
    padding-top: 50px;
}

.more-btn {
    color: #FF5722;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}

.more-btn i {
    font-size: 25px;
}

.more-btn p {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

.more-btn-inactive {
    visibility: hidden;
}

/* Team Members */

#team .container .section-header .title {
    text-align: left;
    margin-bottom: 30px;
    font-size: 20px;
}

#team .container .section-header .title::before {
    width: 100%;
    left: 0;
}

#team .container .section-header .title::after {
    width: 200px;
    left: 0;
    height: 2px;
}

#team .img-fluid {
    max-height: 221px;
    width: 100%;
    object-fit: cover;
}

#faculty-container {
    margin-bottom: 40px;
    padding: 0 6.2%;
}

#member-container {
    margin: 0;
    display: flex;
}

#team .slider-container {
    padding: 0 5%;
    position: relative;
    overflow: hidden;
}

#team .slides {
    position: relative;
    overflow: hidden;
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#team .member .member-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
    padding: 15px 0;
    background: rgba(29, 28, 41, 0.6);
}

#team .member .member-info-content {
    transition: margin 0.2s;
    height: 45px;
    transition: height 0.4s;
}

#team .member:hover .member-info {
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    height: 90px;
}

#team .member h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #FFFFFF;
}

#team .member .social {
    margin-top: 15px;
}
  
#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #FF5722;
}
  
#team .member .social a i {
    font-size: 18px;
    margin: 0 5px;
}

@media (max-width: 1200px) {
    #team .member {
        max-height: 180px;
    }

    #team .member h3 {
        font-size: 17px;
    }

    #team .member span {
        font-size: 11px;
    }
}

@media (max-width: 992px) {
    #team .member {
        max-height: 175px;
    }

    #team .member h3 {
        font-size: 17px;
    }

    #team .member span {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    #team .member {
        max-height: 200px;
    }

    #team .member h3 {
        font-size: 16px;
    }

    #team .member span {
        font-size: 12px;
    }

}

@media (max-width: 576px) {
    #team .member {
        max-height: 34vw;
    }
}

/* Team Slider */

.slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#next-btn, #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
}

#next-btn:focus, #prev-btn:focus{
    outline: none;
}

#next-btn:hover, #prev-btn:hover{
    color: #FF5722;
}

/* Footer */

.footer-container {
    margin: 20px 10%;
    width: 85%;
    padding-top: 20px;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    color: #EEEEEE;
    padding: 2px 0 2px 10px;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    border-left: 3px solid #FF5722;
}

.footer-container p {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #EEEEEE;
}

.social-links{
    margin-top: 20px;
}

.footer-contact {
    margin-bottom: 30px;
}

.footer-contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333333;
    color: #EEEEEE;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border-radius: 50%;
}

.footer-contact .social-links a:hover {
    background: #FF5722;
    color: #FFFFFF;
}

.footer-container h4 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

.footer-container h4::before,
.footer-container h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}

.footer-container h4::before {
    right: 0;
    background: #555555;
}

.footer-container h4::after {
    background: #FF5722;
    width: 60px;
}

.footer-feedback .btn {
    font-family: "Raleway", sans-serif;
    margin-top: 10px;
    background: #333333;
    color: #DDDDDD;
    border-color: #333333;
}

.footer-feedback .btn:hover {
    background: #FF5722;
    color: #DDDDDD;
}

.footer-bottom {
    padding: 20px 0;
    background: #111111;
}

.copyright {
    text-align: center;
    color: #EEEEEE;
    font-family: "Raleway", sans-serif;
}

.credits {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 13px;
    color: #DDDDDD;
}

/* Media Queries */
@media(max-width: 800px) {
    .container{
        padding: 0 1rem;
    }

    .msg h1 {
        font-size: 3rem;
    }

    .welcome-msg {
        font-size: 16px;
    }
}

@media(max-width: 500px) {
    .msg h1 {
        font-size: 2.5rem;
    }

    .msg h2 {
        font-size: 1rem;
    }

    .welcome-msg {
        font-size: 14px;
    }
}