@import url("https://fonts.googleapis.com/css?family=Raleway:200,100,400");

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background: #333;
}

main {
    flex: 1 0 auto;
    margin-top: 2em !important;
}

.text-icon {
    margin-left: 8px;
    vertical-align: middle;
}

.nav-wrapper {
    padding: 0 2em;
}

.icon-left-align {
    vertical-align: middle;
    margin-right: 0.5em;
}

.icon-right-align {
    vertical-align: middle;
    margin-left: 0.5em;
}

.sidenav-overlay {
    z-index: 50 !important;
}

.sidenav {
    z-index: 100 !important;
}

ul.tabs {
    display: flex;
    border-radius: 4px;
}

li.tab {
   flex-basis: 33.33%;
}

.tabs .tab a {
    color: #b71c1c;
}

.tab a.active {
    font-weight: bold;
}
  
.tabs .tab a:focus.active {
    font-weight: bold;
    background-color: #f3e5f5;
}
  
.tabs .indicator {
    background-color: #b71c1c;
    padding: 2px;
    border-radius: 2px;
}

ul.collapsible {
    border-radius: 3px;
}

ul.collapsible .collapsible-body {
    background: #eeeeee;
}

.scale-card {
    transition: all 0.3s ease;
}

.scale-card:hover {
    transform: scale(1.05);
}

.team-img {
    width: 128px;
    height: 128px;
    margin: 5px;
    transition: all 0.3s ease;
}

.team-img:hover {
    transform: scale(1.2);
}

.footer-container {
    margin: 0 10%;
    width: 85%;
}

.footer-git-icon {
    width: 1.2em;
    height: 1.2em;
    margin-right: 5px;
    vertical-align: text-bottom;
    border-radius: 50%;
}

.brand-logo {
    font-weight: 200;
}

.welcome-msg {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #ccc;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.welcome {
    height: 100vh;
    margin-bottom: 2em;
    background: #333 url("../img/bg-1.jpeg") no-repeat center center / cover;
}

h1, h2 {
    font-weight: 500;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
    color: #eee;
}

h2 {
    font-size: 2rem;
    color: #ccc;
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.1rem solid #ccc;
}
